@import '../../styles/mixins';
.on-canvas {
    display: none;
    height: 100%;
    @include respond(phone) {
        display: block;
    }
    position: absolute;
    top: var(--header-height);
    left: 0;
    z-index: 2000;
    overflow-x: hidden;
}

.mobile-menu {
    overflow-y: scroll;
    min-height: calc(100vh - var(--header-height));
    width: 100vw;
    padding: 4rem 0;
    background-color: var(--color-secondary);
    font-family: 'Domine', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    transform-origin: right;
    transition: transform 0.6s cubic-bezier(.165, .84, .44, 1);
    nav {
        margin-bottom: 3rem;
        ul {
            list-style-type: none;
        }
    }
}

.top-item {
    overflow: hidden;
    width: 100%;
    &:not(:last-child) {
        border-bottom: 1px solid var(--color-less-transparent);
    }
}

.top-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3em;
    padding: 0 1rem;
}

.dropdown-list {
    height: 0;
    transition: all 0.3s ease-in-out;
    li {
        width: 100%;
        height: 3em;
        padding: 0 0 0 3rem;
        color: var(--color-primary);
        &:not(:last-child) {
            border-bottom: 1px solid var(--color-less-transparent);
        }
        a {
            line-height: 3em;
        }
    }
}

.arrow-icon {
    position: relative;
    display: inline-block;
    width: 1.8rem;
    height: 2rem;
    transition: all 0.3s ease-in-out;
    &:before,
    &:after {
        position: absolute;
        top: 50%;
        display: block;
        content: '';
        width: 1.05rem;
        height: 1px;
        background-color: var(--color-text-primary);
        border-radius: 1px;
    }
    &:before {
        left: 0;
        transform: rotateZ(40deg);
    }
    &:after {
        right: 0;
        transform: rotateZ(-40deg);
    }
}