@import '../../styles/mixins';

.bio {
    margin: 5rem 0;
    .title {
        font-size: 1.6rem;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
    }
    hr {
        margin: 5rem auto;
        width: 5rem;
        border: none;
        border-bottom: 1px solid var(--color-less-transparent);
    }
    .flex {
        display: flex;

        @include respond(phone) {
            flex-direction: column;
            
        }
    }
    .image {
        margin-right: 3rem;
    }
    .name {
        margin-bottom: 2rem;
    }

    .text {
        font-weight: 400;
    }
}