.container {
    max-width: 1170px;
    margin: 0 auto;

    @include respond (tab-land) {
        width: 93%;
    }
    @include respond (tab-port) {
        width: 90%;
    }
    @include respond (phone) {
        width: 90%;
    }
}