@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 42.5em) { @content }; // 42.5em = 680px
    }
    @if $breakpoint == phone-large-height {
        @media (max-width: 42.5em) and ( min-height: 32.5em) { @content };
    }
    @if $breakpoint == phone-landscape {
        @media only screen and (min-device-width: 37.5rem) 
            and (max-device-width: 66.7rem) 
            and (orientation: landscape) { @content }; // 42.5em = 680px
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) { @content }; //900px
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em) { @content }; //1200px
    }
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) { @content }; //1800px
    }
}

@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}