// Colors
$color-primary: #5edfff;
$color-secondary: #182628;
$color-tertiary: #333333;
$color-text-primary: #fff;
$color-text-secondary: #182628;
$color-text-tertiary: #fff;
$color-less: #888888;
$color-less-lighter: #aaaaaa;
$color-less-transparent: rgba(#5edfff, 1);
$color-link: #c62641;
$color-facebook: #3e5b98;
$color-twitter: #4da7de;
$color-reddit: #e74a1e;
$color-linkedin: #0077B5;
