// Colors
$color-primary: #3e64ff;
$color-secondary: #182628;
$color-tertiary: #333333;
$color-background-primary: #3e64ff;
$color-background-secondary: #fff;
$color-text-primary: #182628;
$color-text-secondary: #fff;
$color-text-tertiary: #fff;
$color-text-primary-transparent: rgba($color-text-primary, 0.07);
$color-text-secondary-transparent: rgba($color-text-primary, 0.1);
$color-less: #888888;
$color-less-lighter: #aaaaaa;
$color-less-transparent: rgba(#5edfff, 0.5);
$color-link: #c62641;
$color-facebook: #3e5b98;
$color-twitter: #4da7de;
$color-reddit: #e74a1e;
$color-linkedin: #0077B5;
