@import '../../styles/mixins';

.footer {
    position: relative;
    z-index: -1;
    height: var(--header-height);
    background-color: var(--color-background-primary);
    
    & > div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            font-weight: 400;
            text-align: center;
            font-family: 'Domine', sans-serif;
            color: var(--color-text-secondary);

            @include respond(phone) {
                line-height: 2;
            }
        }
    }

    @include respond(phone) {
        height: 10rem;
    }
}