@import "../../styles/variables";
@import '../../styles/mixins';

.main {
    background-color: var(--color-background-primary);
    width: 100%;
    border-top: 1px solid rgba(255,255,255,.2);
}

.paper {
    margin-top: -9.9rem !important;
    padding: 12.5rem 22.5rem;
    background-color: var(--color-secondary);
    box-shadow: var(--global-shadow);

    @include respond(tab-port) {
        padding: 10rem 14%;
    }

    @include respond(phone) {
        width: 100% !important;
        margin-top: 0 !important;
        padding: 2.8rem 8%;
        box-shadow: none;
    }
}